<mat-card class="flex flex-col justify-center items-center">
    <mat-card-header class="flex flex-col justify-center items-center">
        <h1 class="text-2xl font-bold"> Two-factor authentication </h1>
        <p *ngIf="otp" class="text-muted-foreground mt-2"> Please scan QR code below using any authenticator application </p>
        <p *ngIf="loginRequest" class="text-muted-foreground mt-2"> Please enter code below </p>
        
        <!-- Error message display -->
        <div *ngIf="errorMessage" class="error-message mt-2 text-red-600 text-center">
            {{ errorMessage }}
        </div>
    </mat-card-header>
    <mat-card-content class="mt-2">
        <qrcode *ngIf="otp" [qrdata]="otp" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <form class="mt-2" [formGroup]="otpForm">
            <mat-form-field class="w-full flex justify-center">
                <mat-label>One time pin</mat-label>
                <input formControlName="otp" matInput/>
                <mat-error *ngIf="otpForm.get('otp')?.touched && otpForm.get('otp')?.hasError('required')">
                    {{ required }}
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="w-full flex justify-center mt-2">
        <button mat-flat-button class="w-1/3" (click)="onSubmit()" [disabled]="isSubmitting || otpForm.invalid">
            <span *ngIf="!isSubmitting">Submit</span>
            <span *ngIf="isSubmitting">Submitting...</span>
        </button>
    </mat-card-actions>
</mat-card>
